body{
    background-color: #F6F4F4;
}

label {
    border-radius: 30px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card4 {
    margin-left: 10px;
    border-radius: 35px;
    position: relative;
    height: 124px;
    width: 200px;
    margin-bottom: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 20;
}

.card6 {
    margin-left: 10px;
    border-radius: 35px;
    position: relative;
    height: 80px;
    width: 120px;
    margin-bottom: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 20;
}

.card8 {
    margin-left: 10px;
    border-radius: 35px;
    position: relative;
    height: 60px;
    width: 100px;
    margin-bottom: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 20;
}

.card4 div {
    border-radius: 35px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card6 div {
    border-radius: 35px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card8 div {
    border-radius: 35px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card4 .back {
    padding-top: 0;
    border-radius: 35px;
    height: 124px;
    -webkit-transition: 0ms;
    transition: 0ms;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card6 .back {
    padding-top: 0;
    border-radius: 35px;
    height: 80px;
    -webkit-transition: 0ms;
    transition: 0ms;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card8 .back {
    padding-top: 0;
    border-radius: 35px;
    height: 60px;
    -webkit-transition: 0ms;
    transition: 0ms;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

img:hover{
    -webkit-transform: rotateX(10deg);
    transform: rotateX(10deg);
}

input {
    display: none;
}

:checked + .card4 {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

img:hover :checked + .card4 {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
}
:checked + .card6 {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

img:hover :checked + .card6 {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
}
:checked + .card8 {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

img:hover :checked + .card8 {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
}


h3{
    text-align: center;
}

tbody{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.datosth {
    background-color: #F6F4F4;
    color: #000;
    text-align: center;
    padding: 10px;
}

.datostd {
    background-color: #F6F4F4;
    color: #000;
    text-align: center;
    padding: 3px;
}

#tablaCartas table {
    margin: auto;
}

#puntuacion table {
    margin: auto;
    background: #000 url("../img/gradient.gif") bottom left repeat-x;
    border-collapse: separate;
    border-spacing: 5px;
}

p.img{
    border-radius: 25px;
    margin-top: 0px;
}

h4{
    padding-top: 1px;
    color: grey;
    text-align: center;
    height: 30px;
}

.border{
    border-radius: 35px;
    -webkit-box-shadow:  0px 0px 15px 0px grey;
}

.border-acierto{
    border-radius: 35px;
    -webkit-box-shadow:  0px 0px 15px 0px greenyellow;

}

.border-fallo{
    border-radius: 35px;
    -webkit-box-shadow:  0px 0px 15px 0px red;

}

.none-display{
    display: none;
}

#btnVolum:hover{
    -webkit-transform: rotateX(5deg);
    transform: rotateX(5deg);
}

#bg{
    position:relative;
    top:15px;
    height:880px;
    width:1400px;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    border:#fff 15px solid;
}

.module{
    position:relative;
    height:85%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    background:RGBA(255,255,255,1);

    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);

}

#a{
    display:block;
    color: #ad5487;
    text-decoration:none;
    font-weight:bold;
    margin-top:25px;
    text-align:center;
}

.div-4{
    width: 20%;
    display: inline-block;
}

.mensaje{
    width: 100%;
}

.carta4{
    height: 124px;
    width: 200px;
}

.carta6{
    height: 80px;
    width: 120px;
}

.carta8{
    height: 60px;
    width: 100px;
}

#btns{
    margin: 5px 5px;
    position: fixed;
}

.btn{
    border-radius: 35px;
}

#btn-start{
    margin: 22px 140px;
    position: absolute;
    opacity: 0.9;
    z-index: 30;
}

.center{
    opacity: 1;
    margin-top: 255px;
    margin-left: 430px;
}