*{
    margin:0;
    padding:0;
}

body{

    background-color:#f0f0f0;
    font-family:helvetica;
}

a{
    display:block;
    color:#ad5482;
    text-decoration:none;
    font-weight:bold;
    margin-top:40px;
    text-align:center;
}

#bg{
    position:relative;
    top:20px;
    height:800px;
    width:900px;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    border:#fff 15px solid;
}

.module{
    position:relative;
    top:5%;
    height:600px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    background:RGBA(255,255,255,1);

    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);

}

.module ul{
    list-style-type:none;
    margin:0;
}

.tab{
    float:left;
    height:60px;
    width:50%;
    padding-top:20px;
    box-sizing:border-box;
    background:#eeeeee;
    text-align:center;
    cursor:pointer;
    transition:background .4s;
    border-radius: 5px;
}

.tab li:first-child{
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.tab li:last-child{
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.tab li:hover{
    background-color:rgba(0,0,0,.1);
}

.activeTab{
    background:#fff;
}

.activeTab .icon{
    opacity:1;
}

.tabcontent {
    height: 526px;
    display: none;
    padding: 6px 12px;
    margin-top: 15px;
    overflow-y: scroll;
}

.button{
    height:50px;
    width:20%;
    margin-top: 20px;
    float: left;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    margin-left: 20px;
    margin-bottom:30px;
    background:#90c843;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
    text-align: center;

}

.button:hover{
    background:#80b438;
}

#conf{
    display: none;
}

select {
    height:40px;
    width: 90%;
    border:rgba(0,0,0,.3) 2px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin-left:5px;
    margin-bottom: 20px;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    cursor:pointer;
}


label {
    width: 100%;
    padding: 10px;
    border-radius:4px;

}

#puntuacion table {
    margin: auto;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 5px;
}

#puntuacionSession table {
    margin: auto;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 5px;
}

tbody{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.datosth {
    background-color: #F6F4F4;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

}

.datostd {
    background-color: #F6F4F4;
    color: #000;
    text-align: center;
    padding: 3px;
    border-radius: 5px;

}

.none-display{
    display: none;
}

/* Style the tab content */

